* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem;

    .title {
        font: bold 3rem DM Sans, 'sans-serif';
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    .subTitle {
        font: 400 1.5rem DM Sans, 'sans-serif';
        color: var(--black-secondary);
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    
    nav {
        padding: 0.5rem;
        
        ul, li, a{
            display: flex;
            padding: 0.5rem;
            margin-left: 1.3rem;
            margin-right: 1.3rem;
            font: 400 1.3rem Roboto, 'sans-serif';
            color: var(--black-secondary);
            opacity: 70%;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.4s;

            a:hover {
                opacity: 100;
            }
        }
    }
}

#skills, #projects {
    display: flex;
    justify-content: center;

    .container {
        background: var(--white-primary);
        padding: 3rem;
        width: 45%;
        position: fixed;
        bottom: 0;
        height: 50vh;
        border-radius: 8px;
    }
        
        .header-skills, .header-projects {
            display: flex;
            justify-content: space-between;
            align-items: center;

        .choose-skills, .choose-projects {
            display: flex;
            margin: 0.5rem;

            .textChoose-projects {
                margin-right: 5rem;
                font: 200 1.5rem Roboto, 'sans-serif';
                color: #323232;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        .title-skills, .title-projects {
            font: bold 2rem Roboto, 'sans-serif';
            color: var(--black-secondary);
            opacity: 70%;
            text-transform: uppercase;

        }
        .title-skills.loc {
            opacity: 100%;
        }
        .text-skills, .link-skills {
            font: normal 1rem Roboto, 'sans-serif';
            color: var(--black-secondary);
            text-transform: uppercase;
            opacity: 70%;
            margin-left: 2rem;
            cursor: pointer;
            transition: all 0.4s;
            text-decoration: none;
           
            :hover {
                opacity: 0.5rem;
            }
        }
        .text-skills:hover{
            opacity: 100;
        }
    }
    .body-skills, .body-projects{
        text-align: center;

        .col-one img, .col-two img{
            margin: 1.8rem;
            width: 3.5rem;
       
        }
        
        .FrontEnd{
            display: flex;
            justify-content: center;
            
            .col-one, .col-two, .col-three{
                display: flex;
                flex-direction: column;
                
                .text-projects {
                    font: bold 1.3rem Roboto, 'sans-serif';
                }
                .link-projects {
                    margin-top: 0.5rem;
                    font:  normal 1rem Roboto, 'sans-serif';
                }
            }


            .col-one img, .col-two img, .col-three img{
                width: 15rem;
                margin: 1rem;
                margin-top: 4rem;
            }
        }
    }
    .body-skills.hidden {
        display: none;
    }
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .container{
        border-radius: 1rem;
        bottom: 0;
        position: absolute;
        height: 40%;
        background-color: var(--white-primary);
        display: flex;
        width: 40%;
        
        .carrerExperience {
            padding: 2rem;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                margin-top: 0.5rem;
                width: 10rem;
            }

        }
        .yearsExperience{
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            flex-direction: column;
            background-color: var(--black-secondary);
            padding: 2rem;
            width: 50%;

            .experienceNumber {
                font: bold 4rem Roboto, 'sans-serif';
                color: var(--white);
                text-transform: uppercase;
            }

            .experienceText {
                font: bold 2rem Roboto, 'sans-serif';
                color: var(--white);
            }
        }
    }

    .title-home {
        font: bold 2rem Roboto, 'sans-serif';
        color: var(--black-secondary);
        text-transform: uppercase;
    }

}